.chatbar-wrapper{
    display: inline-block;
    padding: 0.5rem;
    opacity: 0.8;
    background-color: white;
    border-radius: 1rem;
    width: 36vw;
}

.text-field{
    outline: none;
    border: none;
    font-family: Helvetica;
    font-size: 1.25rem;
}

.filtered-text{
    font-family: Helvetica;
    font-size: 1.25rem;
}

.title-text{
    font-family: Helvetica;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    background-color: #f3ec78;
    background-image: linear-gradient(90deg, #93A5CF 0%, #E4EFE9 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    margin: 20px;
}